<component name="libraryTable">
  <library name="spring-security">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/springSecuityLib/spring-security-acl-3.1.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/springSecuityLib/spring-security-aspects-3.1.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/springSecuityLib/spring-security-cas-3.1.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/springSecuityLib/spring-security-config-3.1.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/springSecuityLib/spring-security-core-3.1.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/springSecuityLib/spring-security-crypto-3.1.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/springSecuityLib/spring-security-ldap-3.1.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/springSecuityLib/spring-security-openid-3.1.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/springSecuityLib/spring-security-remoting-3.1.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/springSecuityLib/spring-security-taglibs-3.1.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/springSecuityLib/spring-security-web-3.1.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>