<component name="ArtifactManager">
  <artifact type="exploded-war" name="springSecurityDemo:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springSecurityDemo_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springSecurityDemo/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springSecurityDemo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="spring-aop-3.2.4.RELEASE-javadoc" />
          <element id="library" level="project" name="sc-lib" />
          <element id="library" level="module" name="JUnit4" module-name="springSecurityDemo" />
          <element id="library" level="project" name="spring-security" />
        </element>
      </element>
    </root>
  </artifact>
</component>